<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yafnds.mapper.UserInfoMapper">

    <sql id="columns">
        SELECT id, phone, password, nick_name, status, create_time, update_time, is_deleted
    </sql>

    <select id="getByPhone" resultType="com.yafnds.entity.UserInfo">
        <include refid="columns" />
        from user_info
        where phone = #{phone}
            and is_deleted = 0
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_info (id, phone, password, nick_name, status)
        VALUES (#{id}, #{phone}, #{password}, #{nickName}, #{status})
    </insert>
</mapper>