<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yafnds.mapper.AdminMapper">
    <sql id="columns">
        SELECT id,username,name,password,phone,head_url,description,create_time,update_time,is_deleted
    </sql>

    <sql id="findPageWhere">
        <where>
            is_deleted=0
            <if test="username != null and username != ''">
                AND username LIKE CONCAT("%",#{username},"%")
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT("%",#{name},"%")
            </if>
            <if test="phone != null and phone != ''">
                AND phone LIKE CONCAT(#{phone},"%")
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                AND create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                AND create_time &lt;= #{createTimeEnd}
            </if>
        </where>
    </sql>

    <select id="findPage" resultType="Admin">
        <include refid="columns"></include>
        FROM acl_admin
        <include refid="findPageWhere"></include>
        ORDER BY create_time DESC
    </select>

    <insert id="insert">
        INSERT INTO acl_admin (username,name,password,phone,head_url,description)
        VALUES (#{username},#{name},#{password},#{phone},#{headUrl},#{description})
    </insert>

    <update id="delete">
        UPDATE acl_admin SET is_deleted=1 WHERE id=#{id} AND is_deleted=0
    </update>

    <select id="findById" resultType="Admin">
        <include refid="columns"></include>
        FROM acl_admin
        WHERE id=#{id} AND is_deleted=0
    </select>

    <update id="update">
        UPDATE acl_admin
        <set>
            <if test="username != null and username != ''">
                username=#{username},
            </if>
            <if test="password != null and password != ''">
                password=#{password},
            </if>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="phone != null and phone != ''">
                phone=#{phone},
            </if>
            <if test="headUrl != null and headUrl != ''">
                head_url=#{headUrl},
            </if>
            <if test="description != null and description != ''">
                description=#{description},
            </if>
            update_time=now()
        </set>

        WHERE id=#{id} AND is_deleted=0
    </update>

    <select id="getByUsername" resultType="Admin">
        <include refid="columns"></include>
        FROM acl_admin WHERE username=#{username} AND is_deleted=0
    </select>
</mapper>