<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yafnds.mapper.PermissionMapper">

    <sql id="columns">
        select id,parent_id,name,url,code,type,sort,create_time,update_time,is_deleted
    </sql>
    <select id="findAll" resultType="Permission">
        <include refid="columns"></include>
        from acl_permission where is_deleted=0
    </select>

    <select id="findPermissionListByAdminId" resultType="Permission">
        SELECT DISTINCT t4.id, t4.parent_id, t4.name, t4.url, t4.code
                      , t4.type, t4.sort, t4.create_time, t4.update_time, t4.is_deleted
        FROM acl_admin_role t1
                 JOIN acl_role t2 ON t1.role_id = t2.id
                 JOIN acl_role_permission t3 ON t2.id = t3.role_id
                 JOIN acl_permission t4 ON t3.permission_id = t4.id
        WHERE t1.admin_id = #{adminId}
          AND t1.is_deleted = 0
          AND t2.is_deleted = 0
          AND t3.is_deleted = 0
          AND t4.is_deleted = 0
    </select>

    <select id="findByParentId" resultType="Permission">
        <include refid="columns"></include>
        FROM acl_permission WHERE parent_id=#{parentId} AND is_deleted=0
    </select>

</mapper>